html
  height: 100%;
  overflow: hidden;

body
  width 100%
  height 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  font-family sans-serif
  font-size global-font-size
  color global-text-color
  background global-background

a
  color: link-color
  text-decoration: none
  &:hover
    color: link-hover-color
    text-decoration underline
  &:active
    color: link-active-color
  &:visited
    color: link-visited-color

hr
  border none
  height 1px
  box-shadow 0 1px #CCC

#app_container
  width 100%
  height 100%
