// ======= Grid debug =======
// debug = true
debug = false


// ======= Global =======
global-text-color       = #555
global-background       = #E9EAED
global-font-size        = 16px


// ======= Link =======
link-color          = #000
link-hover-color    = #333
link-active-color   = #333
link-visited-color  = #333


// ======= Header =======
header-height = 63px
header-inner-height = 36px
