#app_preview
  position relative

  &:after
    z-index -1
    content ""
    display block
    padding-top 100%

  #user_image,
  #cover_image
    width 100%
    max-width 450px
    position absolute
    top 0
    left 0
    right 0
    margin auto auto
    .inner
      width 100%
      padding-top 100%
      background-repeat no-repeat
      background-size 100% auto
      background-position 50% 50%

  #cover_image
    overflow hidden

  #dragger
    position absolute
    top 0
    left 0
    width 0
    height 0
    cursor move

  #user_image .inner
    background-color #CCCCCC

  #loading
    position absolute
    top:0 left 0
    width 100%
    height 100%
    z-index 9999
    display none
    div
      position relative
      width:100%
      height 100%
    img
      width 43px
      height 11px
      position absolute
      top 50%
      left 50%
      margin-top -5px
      margin-left -21px
