#size_slider
  max-width 195px
  margin 40px auto 0
  border: none
  background none

  &.ui-widget-content
    height 1px
    box-shadow 0 1px #FFF

    &:before
      content ""
      position absolute
      top -20px
      left 0
      display block
      width 130%
      height 40px
      background rgba(0, 0, 0, .5)
      border-radius 20px
      margin-left -15%

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default
    outline none
    width 16px
    height 16px
    background #FFF
    opacity 1
    border 0 solid transparent
    border-radius 50%
    cursor pointer

  .ui-slider-handle
    top calc(-50% - 8px)
    margin-left 0

  .zoomin,
  .zoomout
    color #FFF
    position absolute
    top -11px

  .zoomin
    right -10%

  .zoomout
    left -10%
