label.template-label
  width 23%
  height 0
  position relative
  display inline-block
  margin 1% 1% 1% 0
  padding 0
  padding-bottom 23%
  background-size cover
  background-position center
  box-sizing border-box
  cursor pointer

  &.active
    outline-offset -5px
    outline 5px solid #000

  img
    width 100%

  [type="radio"]
    position absolute
    top 0
    left 0
    opacity 0
